<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>


	<form method="get" action="/groups/new">
    <button type="submit">Make a New Group!</button>
</form>
OR
<form method="get" action="/groups">
    <button type="submit">Join an Existing one</button>
</form>

 <!-- <h3>
	 <%= link_to 'Find Restaurants and Bars in your Area', new_address_path %>
</h3>  -->


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

